<!DOCTYPE html>
<html lang="es" >
<head>
  <meta charset="UTF-8">
  <title>Jugar Educando</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&amp;display=swap'><link rel="stylesheet" href="static/style.css">
  <link rel="stylesheet" href="static/style.css">
</head>
<body>

  <div id="load-container">
    <h1 data-text="WORDLE.pio">WORDLE.pio</h1>
    <button class="jugar" onclick="showHide();">PLAY</button>
    <button class="instrucciones" id="open">RULES</button>
</div>

<div id="modal_container" class="modal-container">
  <div class="modal">
    <h1>¿Cómo Jugar?</h1>
    <p>- Advina la palabra en 6 intentos.
  <br>
  - Cada intento debe ser una palabra valida de 5 letras.
  <br>
  - Pulsa ENTER para enviar.
  <br>
  - Despues de cada intento el color de las letras cambia para mostrar que tan cerca estás de acertar la palabra
  </p>
  <img src="static/rules.png" alt="foto">
    <button id="close">Cerrar</button>
  </div>
</div>

<div id="game-container">
    <div id="score">Score :</div>
    <div id="game" class="game">
        <h1>WORDLE.pio</h1>
        <div id="grid"></div>
        <div id="message">&nbsp;</div>
    </div>
</div>

  <script  src="static/script.js"></script>

</body>
</html>
